<div class="ui small basic modal" id="confirmation-modal">
    <div class="ui icon header">
        <i class="warning sign icon"></i>
        {{ 'clubster.ui.confirm_your_action'|trans }}
    </div>
    <div class="content">
        <p>{{ 'clubster.ui.are_your_sure_you_want_to_perform_this_action'|trans }}</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            {{ 'clubster.ui.no_label'|trans }}
        </div>
        <div class="ui green ok inverted button" id="confirmation-button">
            <i class="checkmark icon"></i>
            {{ 'clubster.ui.yes_label'|trans }}
        </div>
    </div>
</div>
