<div class="row justify-content-between">
    <div class="col-8">
        {% include configuration.vars.templates.header_title|default('@ClubsterAdmin/Crud/Create/_headerTitle.html.twig') %}
        {% include configuration.vars.templates.breadcrumb|default('@ClubsterAdmin/Crud/Create/_breadcrumb.html.twig') %}

        {{ sonata_block_render_event(event_prefix ~ '.header', {'resource': resource}) }}
    </div>
    <div class="col-4">
        {% include configuration.vars.templates.toolbar|default('@ClubsterAdmin/Crud/_toolbar.html.twig') ignore missing %}
    </div>
</div>
