{% extends 'base.html.twig' %}

{% block content %}
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
        {% for entry in news %}
            <div class="cell small-4">
                {{ include('news/item.html.twig', { 'entry': entry }) }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
