<div class="ui basic segment">
    <div class="ui buttons">
        <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i>{{- 'clubster.ui.create'|trans -}}</button>
        {% include '@ClubsterAdmin/Form/Buttons/_cancel.html.twig' with {'path': paths.cancel|default(null)} %}
    </div>
</div>
