<div class="ui basic segment">
    <div class="ui buttons">
        <button class="ui labeled icon primary button" type="submit" id="sylius_save_changes_button"><i class="save icon"></i> {{ 'clubster.ui.save_changes'|trans }}</button>
        {% include '@ClubsterAdmin/Form/Buttons/_cancel.html.twig' with {'path': paths.cancel|default(null)} %}
    </div>
</div>
