$scw-blue: #263886;
$scw-yellow: #feeb35;

@import '~foundation-sites/scss/util/util';
@import 'foundationSettings.scss';
@import '~foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
//@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-close-button;
@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
//@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

// Overwrites
.top-bar {
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-bottom: 0.5rem solid $scw-yellow;
}

// SCW-Styles
//------------------------------
// Header
header {
  div.scw-logo{
    a {
      width: 6rem;
      height: 6rem;
      display: inline-block;
      background-image: url(../img/logo.svg);
      background-size: 6rem 6rem;
    }
    padding: 1rem;
    background: $background-gray;
  }
  background: $black;
  height: 8rem;
}

nav {
  a {
    color: $white;
  }
}

// General
main.scw-base-container {
  width: 65rem;
  margin: 0 auto;
  background: $white;
  //border: 1px solid $light-gray;
}

section.scw-content-container {
  border-left: 1px solid $scw-yellow;
}

aside {
  border-right: 1px solid $scw-yellow;
}

span.scw-placeholder {
  background-image: url(../img/logo.svg);
  background-size: 7rem 7rem;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.75;
}

section {
  > h1 {
    font-size: 1.5rem;
    margin: 0 1rem 1rem 1rem;
  }
}


// News
section.scw-news {
  article {
    h1 {
      font-size: 1.1rem;
      padding: 0.75rem 1rem 0.5rem 1rem;
    }
    p {
      font-size: 1rem;
      padding: 0rem 1rem;
    }
    div.scw-news-image-container {
      span.scw-placeholder {
        display: inline-block;
        height: 100%;
        width: 100%;
      }

      height: 10rem;
      overflow: hidden;
      text-align: center;
      background: $light-gray;
    }

    border: 1px solid $light-gray;
    background: $white;
  }
}

// Games
div.scw-game-list {
  div.scw-game-container {
    div.scw-game-date {
      font-weight: bold;
      border-bottom: 1px solid $black;
    }
    margin-bottom: 1rem;
  }
}
