<div class="row">
    <div class="col-8">
        {% include configuration.vars.templates.header_title|default('@ClubsterAdmin/Crud/Index/_headerTitle.html.twig') %}
        {% include configuration.vars.templates.breadcrumb|default('@ClubsterAdmin/Crud/Index/_breadcrumb.html.twig') %}

        {{ sonata_block_render_event(event_prefix ~ '.header', {'resources': resources}) }}
    </div>
    <div class="col-4">
        {% include '@ClubsterAdmin/Crud/Index/_actions.html.twig' %}
    </div>
</div>
