<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}SC Wohlensee{% endtrans %}{% endblock %}</title>

        <!-- @todo that can't be right, check the correct way -->
        <link rel="icon" href="{{ asset('build/images/favicon.9c4ac701.ico') }}" type="image/ico" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        <header>
            {% block header %}
                header
            {% endblock %}
        </header>
        <nav>
            {% block navigation %}
                {{ render(controller(
                'App\\Controller\\NavigationController::indexAction'
                )) }}
            {% endblock %}
        </nav>

        <section id="content" class="container">
            {% block content %}{% endblock %}
        </section>
        <aside>
            {% block sidebar %}

            {% endblock %}
        </aside>
        <footer>
            {% block footer %}
                footer
            {% endblock %}
        </footer>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
